<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Login</title>
    @Styles.Render("~/Assets/assets/extra-libs/datatables.net-bs4/css/dataTables.bootstrap4.css")
    @Styles.Render("~/Assets/dist/css/style.min.css")
    @Styles.Render("~/Assets/dist/css/app.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="main-wrapper">
        @RenderBody();
    </div>

    <script src="~/Assets/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="~/Assets/assets/libs/popper.js/dist/umd/popper.min.js"></script>
    <script src="~/Assets/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>